<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8" />
        <meta name = "viewport" content = "width=device-width" />
        <title>Document</title>
    </head>
    <body>
        <h1> This is where we show data</h1>
        <button id ="api_button">
            Call API
        </button>
        <h1 id ="name_section"> </h1>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // document.getElementById("api_button").addEventListener("click", function(){
            //     fetch('dummy')
            //     .then((response)=>response.json())
            //     .then((data)=>{
            //         console.log(data)
            //         let element = document.getElementById("name_section")
            //         element.innerHTML = data["data1"]
                    
            //     })
            //     .then((error) => {
            //          console.log("Error:",error);
            //     })
            // })
            $.ajax({
                // url,method,datatype
                url:'dummy?parameter1=Pani',
                method:'GET',
                dataType:'json',//ensure the response is in JSON format
                success: function(data){
                    console.log(data)
                    let element = document.getElementById("name_section")
                    if(element){
                        element.innerHTML = data["FoodName"] ? data["FoodName"] :"No food found";
                    }
                },
                error: function(status,error){
                    console.error("Error",error)
                }
            })

            </script>
    </body>
</html>

