   
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="{% static 'images/Food.jpg' %}"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="{% static 'images/Foodie1.jpg' %}"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="{% static 'images/Food.jpg' %}"
        alt="Third slide"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- offer div -->
<div
  style="
    background-color: burlywood;
    width: 100%;
    text-align: center;
    height: 45px;
  "
>
  Offer valid till 30th july
</div>

<!-- card -->

  <div class="row" style="padding: 20px">
    <h1>Food place</h1>
    {% for item in Foodiees %}
  <div class="card" style="width: 18rem; margin: 10px">
    <img
      class="card-img-top imgwidth"
      src= "{{item.images.url}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{item.name}} - {{item.cost}}</h5>
      <p class="card-text">{{item.category}}</p>
      <a href="{% url 'Product' id=item.id %}" class="btn btn-primary">view product</a>
      <a href="{% url 'addWish' id=item.id %}" class="btn btn-primary">+ Wish list</a>
      <a href="{% url 'addCart' id=item.id %}" class="btn btn-primary cartButton">+ Add to cart</a>
    </div>
  </div>
  {% endfor %}
</div>
<footer style="background-color: burlywood;width:100%; text-align: center; height:45px;">This is our footer</footer>
{% endblock %}
